p {
    font-weight: 100;
}
p:hover {
    color: white;
}

selector {
    font: value1; /* first declaration*/
    color: value2; /* second declaration */
    /* …… */
    border: valueN; /*8 Nth declaration */
}
