div {
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: 2px solid black;
}
.translated {
    transform: perspective(15px) translateZ(-15px);
}
.scaled {
    transform: perspective(100px) scaleZ(5) rotateX(3deg) rotateY(-15deg);
}
.rotated {
    transform: rotateZ(10deg);
}
